# Copy to terraform.tfvars and fill in real values — terraform.tfvars is gitignored

project      = "shopease"
env          = "prod"
location     = "East US 2"
node_count   = 2
node_vm_size = "Standard_D2s_v3"
